.one {
    background-color: chartreuse;
    text-align: center;
}
.two {
    background-color: chocolate;
    text-align: center;
}
.three {
    background-color: darkgoldenrod;
    text-align: center;
}
.four {
    background-color: darkred;
    text-align: center;
}