@import 'header';
@import 'main';
@import 'footer';

html {
    height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    border: 0;
    width: 100%;
    height: auto;
}
svg:not(:root) {
    overflow: hidden;
}
body {
    font-family: Muli, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #6b7177;
    font-weight: 400;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
h2 {
    font-family: "Humanist 521", sans-serif;
    font-weight: 200;
    text-transform: none;
    line-height: normal;
    color: #667a24;
    display: block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
}
p {
    font-size: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav {
    display: block;
}
input {
    border-radius: 0;
    display: block;
    min-height: 44px;
    padding: 0 10px;
    margin: 0;
    line-height: 22px;
    border: thin solid #656565;
    outline: none;
    background-color: #ffffff;
    color: #656565;
    margin-bottom: 15px;
    appearance: none;
    text-rendering: optimizeLegibility;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
::selection {
    display: none;
}
a, a:hover {
    color: #667a24;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
    touch-action: manipulation;
}
.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.visible {
    display: block;
}
.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 2);
}
.section {
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.fa-arrow-left {
    position: absolute;
    color: white;
    top: 40%;
    font-weight: 700;
    font-size: 50px;
}
.fa-arrow-right{
    color:black;
    font-weight: 700;
    font-size: 50px;
    float: right;
}
.topBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b8b8b8;
    width: 100%;
    padding-top: 20px;
    font-family: Muli, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0px;
}
@media only screen and (max-width: 798px){
    .topBar {
        width: 100%;
    }
}
.topBar_information {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex: 3 3 0;
    align-items: center;
    a {
        color: #656565;
        display: inline-block;
    }
    p {
        color: #656565;
        display: inline-block;
    }
    .spacer {
        padding: 0 10px;
    }
}
.topBar_menu {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    list-style-type: none;
    p {
        margin-right: 25px;
        color: #656565;
    }
}
.topBar_search i, .topBar_cart a {
    font-size: 21px;
    color: #656565;
    padding: 10px;
    display: block;
    font-style:normal;
    text-transform: none;
    line-height: 1;
}
.topBar__miniCart {
    font-size: 15px;
    width: 500px;
    max-width: 500px;
    right: 0;
    top: 100%;
    box-shadow: inset 0px 0px 0 1px #b8b8b8;
    border-top: 5px solid #667a24;
    background-color: #ffffff;
    z-index: 99;
    position: absolute;
    padding: 0;
    font-weight: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
// ************************mainBar*********************************************
.mainBar {
    justify-content: center;
}
.mainBar_container {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
}
.mainBar_vardas {
    max-width: 140px;
    padding: 10px 0;
    text-transform: none;
    line-height: normal;
    color: #667a24;
    position: block;
    display:inline-block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    margin: 0;
    line-height: 1;
}
.mainMenu {
    justify-content: flex-end;
    font-family: Muli, sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
    display: flex;
    font-size: 14px;
    li {
    text-decoration: none;
    }
    a{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: #2f2f2f;
    text-decoration: none;
    cursor: pointer;
    white-space: normal;
    padding: 15px 0;
    }
    ul {
    text-align: none;
    list-style: none;
    display: flex;
    }
    ul li {
    position: relative;
    width: 100%;
    text-align: center;
    }
}
// main {
//     display: none;
// }
.mainMenu_sub {
    position: absolute;
    flex-direction: column;
    max-width: 100%;
    display: none;
}
header {
position: relative;
z-index: 500;
}
.dropdown {
    position: relative;
    ul {
        opacity: 0;
        transition: all 0.5s;
        visibility: hidden;
    }
    &:hover ul {
    opacity: 1;
    visibility: visible;
    }
}
.mainMenu_sub_sub a:hover {
    top:0;
    display: block;
    opacity: 1;
}
.mainMenu_sub a:hover {
    display: block;
    opacity: 1;
}
.mainMenu_sub_sub a {
    opacity: 0;
}
.mainMenu_sub_sub {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}
.mainBar_mainMenu a:hover{
    color: #667a24;
}
.mainMenu .active{
    color: #667a24;
}
// **************************img*************************************************
.img-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
figure {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}
.text-container{
    text-align: left;
    padding: 68px;
    width: 55%;
    position: absolute;

h1 {
    color: #cd5521;
    font-family: Muli, sans-serif;
    font-weight: 200;
    text-transform: none;
    line-height: 1.1;
    font-size: 52px;
    margin: 10px 0;
    position: absolute;
}
}
@keyframes slidy {
    100% { left: -100%; }
}
    
body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 50%; float:  left; }
div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation:  5s slidy infinite; 
}
// *******************************foto with text******************************************************
.img-with-foto-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.text_container {
    text-align: left;
    padding: 68px;
    width: 55%;
    position: relative;
}
h2.title {
    margin-top: 0;
}
a.hoverButton {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}
a.hoverButton::before {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin-top: 3px;
    width: 0;
    display: block;
    height: 1px;
    background-color: #979227;
    content: "";
    transition: width 0.5s;
}