img {
    width: 100%;
    height: auto;
    display: inline-block;
}
.image-holder {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}
.image-holder input {
    display: none;  
}
.image-holder span {
    position: absolute;
    bottom: 20px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 1;
    display: block;
    text-align: center;
    left: calc (50%-15%);
    display: none;
    background-color: lightskyblue;
    border-radius: 50%;
}
.image-holder img {
   opacity: 0;
   transition: all 0.5s;
   position: absolute;
   top: 0;
   left: 0;
}
.image-holder input:checked + img {
    display: inline-block;
    opacity: 1;
}
.image-holder input:checked + img+span {
    display: block;
}
.circle-holder {
    width: 700px;
    margin-top: 30px;
}
.circle-holder .center {
    width: 130px;
    margin: 0 auto;
}
.circle-holder .center label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.c1 {
    background-color: lightcoral;
}
.c2 {
    background-color: lightgreen;
}
.c3 {
    background-color: lightskyblue;
}